<h1>More details on the <%= @tasks.title %> task !!!!</h1>
<p>Details : <%= @tasks.details %> and hurry up !!!!!!!!!!!!!!!!</p>
 <br>
 <%= link_to "Back to tasks page", tasks_path %>
 <%= link_to "Edit page to edit your tasks!!!!", edit_task_path %>
